<footer>
	<div class="inner">
		<p>Marc Rimkus Webentwicklung</p>
		<div class="flexbox">
			<div class="element">
				<a href="/imprint">{{ "MH_FE.FOOTER.IMPRINT"|t }}</a>
			</div>
			<div class="element">
				<a href="/data-protection">{{ "MH_FE.FOOTER.DATA"|t }}</a>
			</div>
		</div>
	</div>
</footer>