@font-face {
  font-family: "TechnaSans";
  src: url("../font/TechnaSans/TechnaSans.eot");
  src: url("../font/TechnaSans/TechnaSans.eot?#iefix") format("embedded-opentype"), url("../font/TechnaSans/TechnaSans.woff2") format("woff2"), url("../font/TechnaSans/TechnaSans.woff") format("woff"), url("../font/TechnaSans/TechnaSans.ttf") format("truetype"), url("../font/TechnaSans/TechnaSans.svg#TechnaSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CreatoDisplay";
  src: url("../font/CreatoDisplay/CreatoDisplay-Regular.eot");
  src: url("../font/CreatoDisplay/CreatoDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../font/CreatoDisplay/CreatoDisplay-Regular.woff2") format("woff2"), url("../font/CreatoDisplay/CreatoDisplay-Regular.woff") format("woff"), url("../font/CreatoDisplay/CreatoDisplay-Regular.ttf") format("truetype"), url("../font/CreatoDisplay/CreatoDisplay-Regular.svg#CreatoDisplay") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  margin: 0;
  background-color: #131313;
  font-size: 16px;
  color: #FFFFFF;
  overflow-x: hidden;
}

section {
  outline: none;
}

p, a, span, div, body {
  font-family: "CreatoDisplay", sans-serif;
  font-weight: 400;
}

p.headline {
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
}

a {
  color: #00FFFF;
}

a.btn, button {
  display: inline-block;
  position: relative;
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00FFFF;
  color: #131313;
  padding: 7px 12px 5px 12px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}
@media only screen and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 1) {
  a.btn, button {
    margin-right: 10px;
  }
}
a.btn.pink, button.pink {
  background-color: #FF00FF;
}

h1, h2, h3, h4, h5, .title {
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.flexbox {
  display: flex;
}
.flexbox.left {
  justify-content: flex-start !important;
}
.flexbox.center {
  justify-content: center !important;
}
.flexbox.right {
  justify-content: flex-end !important;
}

.grid {
  display: grid;
}

main {
  margin: 0 auto;
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 20px);
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  background-color: #0D0D0D;
  border-right: 2px solid #00FFFF;
  z-index: 100;
  transition: 300ms ease max-width, 300ms ease min-width;
  overflow: hidden;
}
nav > .flexbox, nav .center .flexbox {
  justify-content: flex-start;
  flex-direction: column;
}
nav .separator {
  width: 100%;
  height: 1px;
  margin: 10px 0px;
  background-color: #272727;
}
nav .logo-wrap a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
nav .logo-wrap span {
  font-size: 32px;
  margin-left: 10px;
  color: #FFFFFF;
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  opacity: 1;
  transition: 200ms ease opacity;
}
nav .logo-wrap .logo img {
  width: 40px;
}
nav .center {
  flex-grow: 1;
}
nav .element {
  position: relative;
  margin: 10px 0px 0px;
  padding: 6px;
  border-radius: 8px;
}
nav .element a {
  display: flex;
  column-gap: 6px;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0px;
}
nav .element a span {
  display: block;
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  margin-top: 3px;
  white-space: nowrap;
  opacity: 1;
  transition: 200ms ease opacity;
}
nav .element .icon {
  display: contents;
}
nav .element .icon img {
  height: 28px;
}
nav .element.active {
  background-color: #272727;
}
nav .element.active .icon img {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(240deg);
}
nav .element:hover {
  background-color: #272727;
}
nav .filler {
  flex-grow: 1;
}
nav .settings {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
}
nav .toggle {
  position: relative;
  margin: 0px;
  padding: 6px;
  border-radius: 8px;
  background-color: #272727;
  cursor: pointer;
}
nav .toggle .icon {
  display: flex;
}
nav .toggle .icon img {
  height: 28px;
}
nav .langswitcher {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
nav .langswitcher li {
  position: relative;
}
nav .langswitcher li a {
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
nav .langswitcher li a.active {
  color: #00FFFF;
}
nav .langswitcher li:last-child {
  margin-left: 10px;
}
nav .langswitcher li:last-child:before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  width: 2px;
  height: 20px;
  top: 0px;
  left: -6px;
}
nav.closed {
  min-width: 40px;
  max-width: 40px;
}
nav.closed .logo-wrap span {
  opacity: 0;
  width: 0;
}
nav.closed .element a span {
  opacity: 0;
  width: 0;
  pointer-events: none;
}
nav.closed .settings {
  justify-content: center;
}
nav.closed .langswitcher li a.active {
  display: block;
  opacity: 0;
  width: 0;
}
nav.closed .langswitcher li:last-child {
  margin-left: 0px;
}
nav.closed .langswitcher li:last-child:before {
  height: 0px;
  opacity: 0;
}
nav.closed .toggle {
  background-color: unset;
}
nav.closed .toggle img {
  transform: rotate(180deg);
}
nav.closed .toggle:hover {
  background-color: #272727;
}

nav ~ main {
  padding-left: 272px;
  transition: 300ms ease padding;
}

nav.closed ~ main {
  padding-left: 62px;
}

footer {
  border-top: 4px solid #00FFFF;
  margin-top: 120px;
}
footer .inner {
  max-width: 1440px;
  padding: 60px 20px;
  margin: -40px auto 0px;
  padding: 20px;
  margin-top: 0px;
}
@media only screen and (max-width: 960px) {
  footer .inner {
    padding: 60px 20px 40px;
    margin: -40px auto 0px;
  }
}
footer .inner p {
  margin: 0;
}
footer .flexbox {
  justify-content: flex-end;
  margin-top: 20px;
  flex-wrap: wrap;
  row-gap: 1em;
}
footer .flexbox .element {
  margin-left: 20px;
}
footer .flexbox a {
  font-size: 20px;
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media only screen and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 1) {
  footer {
    margin-top: 80px;
  }
}
@media only screen and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
  footer {
    margin-top: 60px;
  }
}

input[type=checkbox], input[type=file], input[type=submit], label[for], select, option {
  cursor: pointer;
}

input, select, textarea {
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  background-color: #272727;
  border: none;
  border-bottom: 2px solid #FF00FF;
  font-size: 20px;
  padding: 6px 8px 4px;
  margin: 0px 0px 10px;
  color: #00FFFF;
}
input::placeholder, select::placeholder, textarea::placeholder {
  text-transform: uppercase;
  color: #003D3D;
  opacity: 1;
  /* Firefox */
}
input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #003D3D;
  text-transform: uppercase;
}

textarea {
  resize: vertical;
  min-width: calc(100% - 15px);
  max-width: calc(100% - 15px);
  min-height: calc(4em);
}

input[type=submit] {
  display: inline-block;
  position: relative;
  background-color: #FF00FF;
  color: #131313;
  border: none;
}
input[type=file] {
  background-color: unset;
  border: none;
  padding: 6px 8px 0px 0px;
  margin: 0;
}

.input-number {
  display: flex;
  flex-wrap: wrap;
}
.input-number label {
  margin: 6px 14px 6px 0px;
}
.input-number .wrap {
  position: relative;
}
.input-number input[type=number] {
  margin: 0;
  width: calc(2em + 10px);
  min-width: calc(2em + 10px);
}
.input-number input[type=number]::-webkit-inner-spin-button {
  opacity: 0;
}
.input-number .value-control {
  position: absolute;
  right: 4px;
  width: 18px;
  margin: 0px;
  padding: 0;
  background: transparent;
  border: 1px solid #FF00FF;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  line-height: 10px;
}
.input-number .value-control:hover {
  color: #FF00FF;
}
.input-number .value-control:active {
  background: #FFFFFF;
}
.input-number .value-control:nth-child(2) {
  top: 1px;
}
.input-number .value-control:last-child {
  bottom: 4px;
}
.input-number .helper {
  flex-basis: 100%;
  font-size: 12px;
  margin-top: 0px;
  opacity: 0.9;
}

label {
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00FFFF;
  font-size: 20px;
}
label.info {
  display: block;
  font-style: italic;
  margin-bottom: 10px;
}

button.submit {
  border: none;
  transform: none;
  padding: 7px 12px 5px 12px;
  cursor: pointer;
}
button.submit:after {
  display: none;
}

.checkbox {
  margin-bottom: 10px;
}
.checkbox .control {
  display: block;
  position: relative;
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00FFFF;
  font-size: 20px;
  padding-left: 30px;
  margin-bottom: 6px;
  cursor: pointer;
}
.checkbox .control a {
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00FFFF;
  font-size: 20px;
}
@media only screen and (max-device-width: 380px) and (-webkit-min-device-pixel-ratio: 1) {
  .checkbox .control {
    font-size: 16px;
  }
  .checkbox .control a {
    font-size: 16px;
  }
}
.checkbox .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  background: #272727;
}
.checkbox .control input:disabled ~ .control__indicator {
  background: #FF00FF;
  opacity: 0.6;
  pointer-events: none;
}
.checkbox .control input:checked ~ .control__indicator:after {
  display: block;
}
.checkbox .control input:checked ~ .control__indicator {
  background: #272727;
}
.checkbox .control:hover input ~ .control__indicator, .checkbox .control input:focus ~ .control__indicator {
  background: #272727;
}
.checkbox .control:hover input:not([disabled]):checked ~ .control__indicator, .checkbox .control input:checked:focus ~ .control__indicator {
  background: #272727;
}
.checkbox .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #272727;
  border: 2px solid #FF00FF;
  margin-top: -4px;
  cursor: pointer;
}
.checkbox .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox .control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #00FFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  cursor: pointer;
}
.checkbox .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.file-upload {
  position: relative;
  width: 100%;
  height: 40px;
}
.file-upload:before, .file-upload:after {
  font-family: "TechnaSans", sans-serif;
  letter-spacing: 1px;
  position: absolute;
  font-size: 20px;
  pointer-events: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #FF00FF;
  background: #272727;
  top: 0;
  padding: 6px 8px 4px;
}
.file-upload:before {
  content: 'Upload';
  left: 0;
  display: inline-block;
  color: #00FFFF;
  z-index: 25;
}
.file-upload:after {
  content: attr(data-text);
  display: block;
  right: 0;
  width: calc(100% - 120px);
  z-index: 20;
  color: #003D3D;
}
.file-upload input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.required, .file-size-error {
  border-color: red;
  border-width: 4px;
}
.required.checkbox a, .file-size-error.checkbox a {
  color: red;
}
.required.checkbox .control__indicator, .file-size-error.checkbox .control__indicator {
  border-color: red;
  border-width: 4px;
}
.required:before, .required:after, .file-size-error:before, .file-size-error:after {
  border-color: red;
  border-width: 4px;
}

.file-size-error ~ label.info {
  color: red;
}

@media only screen and (max-device-width: 380px) and (-webkit-min-device-pixel-ratio: 1) {
  input {
    width: calc(100% - 15px);
  }

  select {
    width: calc(100%);
  }
}
.module-headline {
  margin-bottom: 20px;
}
.module-headline h2 {
  display: inline;
  background-color: #FF00FF;
  color: #131313;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 2px;
  text-transform: uppercase;
}
.module-headline h3 {
  font-size: 48px;
  margin: 0;
  text-transform: uppercase;
}
.module-headline h3 u {
  color: #00FFFF;
  position: relative;
  text-decoration: none;
  line-height: 1.2em;
}
.module-headline h3 u:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 6px;
  width: 100%;
  background-color: #FF00FF;
}
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1) {
  .module-headline h3 {
    font-size: 32px;
  }
  .module-headline h3 u:before {
    bottom: 0px;
    height: 4px;
  }
}

.popup {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100vw;
  backdrop-filter: blur(0px);
  background-color: rgba(22, 23, 49, 0);
  transition: ease 300ms backdrop-filter, ease 300ms background-color;
  pointer-events: none;
  z-index: 10000;
}
.popup > .inner {
  position: relative;
  background-color: #FFFFFF;
  padding: 40px;
  width: 100%;
  max-width: calc(1280px - 80px);
  max-height: 90%;
  overflow: auto;
  opacity: 0;
  transition: ease 300ms opacity;
}
.popup .popup-controls .button.close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0px;
  right: 0px;
  background-color: #00FFFF;
  cursor: pointer;
  z-index: 111;
}
.popup .popup-controls .button.close:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;
  background-image: url(../media/icons/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: calc(( 40px / 2) - ( 24px / 2 ));
  right: calc(( 40px / 2) - ( 25px / 2 ));
}
.popup.active {
  left: 0;
  backdrop-filter: blur(6px);
  background-color: rgba(14, 14, 14, 0.8);
  pointer-events: auto;
}
.popup.active > .inner {
  opacity: 1;
}
@media only screen and (max-width: 620px) {
  .popup > .inner {
    padding: 20px;
  }
}

section[modular=team-generator] {
  max-width: 1440px;
  padding: 60px 20px;
  margin: -40px auto 0px;
}
@media only screen and (max-width: 960px) {
  section[modular=team-generator] {
    padding: 60px 20px 40px;
    margin: -40px auto 0px;
  }
}
section[modular=team-generator] .intro h2 {
  font-size: 24px;
}
section[modular=team-generator] .main h3 {
  font-size: 24px;
  text-decoration: underline;
}
section[modular=team-generator] .main .input .helper, section[modular=team-generator] .main .checkbox .helper {
  font-size: 12px;
  margin-top: 0px;
  opacity: 0.9;
}
section[modular=team-generator] .main .player-input > .wrap {
  margin-bottom: 10px;
}
section[modular=team-generator] .main .inputlist th {
  font-weight: 400;
}
section[modular=team-generator] .main .inputlist input {
  margin-bottom: 0px;
}
section[modular=team-generator] .main .settings {
  border: 2px solid #00FFFF;
  padding: 0px 12px;
  margin: 46px 0px 10px;
}
section[modular=team-generator] .main .settings h3 {
  text-decoration: none;
  margin: -38px 0 12px -14px;
  border: 2px solid #00FFFF;
  padding: 6px 6px 4px;
  width: fit-content;
}
section[modular=team-generator] .result h3 {
  margin: 0;
}
section[modular=team-generator] .result .main-result {
  border: 2px solid #00FFFF;
  padding: 20px;
  margin-bottom: 20px;
}
section[modular=team-generator] .result .alternatives {
  margin-bottom: 20px;
}
section[modular=team-generator] .result .team {
  margin-right: 24px;
}
section[modular=team-generator] .result .teamname {
  font-size: 20px;
}
section[modular=team-generator] .result .teamrating {
  text-decoration: underline;
}
section[modular=team-generator] .result .player {
  column-gap: 12px;
}
section[modular=team-generator] .result .player .name {
  flex-basis: 50%;
}

section[modular=base-text] {
  max-width: 1440px;
  padding: 60px 20px;
  margin: -40px auto 0px;
}
@media only screen and (max-width: 960px) {
  section[modular=base-text] {
    padding: 60px 20px 40px;
    margin: -40px auto 0px;
  }
}
